<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name ="ctx" th:content="${#httpServletRequest.getContextPath()}" />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/humane/libnotify.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/modal-center.css}"/>

    <script th:src="@{/static/js/jquery/jquery.min.js}"/>
    <script th:src="@{/static/js/bootstrap/bootstrap.min.js}"/>


    <script th:src="@{/static/js/humane/humane.min.js}"/>

    <script th:inline="javascript">
        var contextRoot = /*[[@{/}]]*/ '';
    </script>

    <script th:src="@{/static/js/management.js}"/>

    <title>Public Data Management Dashboard</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#siderbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span>Public Data</span> Management Dashboard</a>
        </div>
    </div>
</nav>
<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <div class="brand"><img th:src="@{/static/images/logo_hansung.png}" width="120px"/></div>
    <ul class="nav menu">
        <li class="active">
            <a th:href="@{/}">
                <span class="glyphicon glyphicon-off icon"></span>
                Dashboard
            </a>
        </li>
        <li>
            <a th:href="@{/management}">
                <span class="glyphicon glyphicon-scale icon"></span>
                Management
            </a>
        </li>
        <li class="parent">
            <a href="#">
                    <span data-toggle="collapse" href="#sub-item-1">
                        <span class="glyphicon glyphicon-chevron-down icon"></span>
                        Visualization
                    </span>
            </a>
            <ul class="children collapse" id="sub-item-1">
                <li>
                    <a th:href="@{/original}">
                        <span class="glyphicon glyphicon-list-alt icon"></span>
                        Original
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

    <div class="row" style="padding-bottom: 20px;">
        <h1>Management about collection of public data (Add / Start / Stop / Delete) </h1>
    </div>

    <div class="row">
        <div style="padding-bottom: 10px; margin-left:20px; margin-right:20px;">
            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-text="Add"
                    data-header='Add Collect Public Data' data-target="#infoModal">Public Data Add</button>
        </div>
        <div class="table-responsive">
            <table class="table" id="managementTable">
                <thead>
                <tr>
                    <th>Public data name</th>
                    <th>Provider</th>
                    <th>Provider URL</th>
                    <th>End-Point</th>
                    <th>Time(Per)</th>
                    <th>Keys</th>
                    <th>Collecting</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbody>
                <!--
                  <tr>&lt;!&ndash;test data&ndash;&gt;
                      <td>1</td>
                      <td>Seoul Environment in Korea</td>
                      <td>Seoul</td>
                      <td>data.seoul.go.kr</td>
                      <td>http://openAPI.seoul.go.kr:8088</td>
                      <td>1 Hour</td>
                      <td>ON</td>
                  </tr>
                 -->
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel">
    <!--<div class="modal-dialog" role="document">-->
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="infoModalTitle">Add Public Data</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <label for="modalName">Public data name :</label>
                        <div style="margin-left:10px;"><input type="text" class="form-control" id="modalName"/></div>
                    </div>
                    <div class="row">
                        <label for="modalProvider">Provider :</label>
                        <div style="margin-left:10px;"><input type="text" class="form-control" id="modalProvider"/></div>
                    </div>
                    <div class="row">
                        <label for="modalUrl">Provider URL :</label>
                        <div style="margin-left:10px;"><input type="text" class="form-control" id="modalUrl"/></div>
                    </div>
                    <div class="row">
                        <label for="modalEp">End-Point :</label>
                        <div style="margin-left:10px;"><input type="text" class="form-control" id="modalEp"/></div>
                    </div>
                    <div class="row">
                        <label for="modalTime">Time :</label>
                        <div style="margin-left:10px;"><input type="text" class="form-control" id="modalTime"/></div>
                    </div>
                    <div class="row">
                        <label for="modalKeys">Keys :</label>
                        <div style="margin-left:10px;"><input type="text" class="form-control" id="modalKeys"/></div>
                    </div>
                    <div class="row">
                        <label for="modalComment">Comment :</label>
                        <div style="margin-left:10px;"><textarea class="form-control" row="5" id="modalComment"/></div>
                    </div>
                    <div class="row">
                        <label for="modalStatus">Status :</label>
                        <select class="form-control" id="modalStatus">
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn-save" id="saveBtn">Add </button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>